$white: #fff;
$sidebar_blue_dark: #253141;
$sidebar_blue_light: #2f3e51;
$chat_blue_light: #38AEF0;
$main_header_bottom_color: #eee;
$group_name_color:  #333;
$message_gray_light: #999;
$messages_background_color: #fafafa;
$message_color: #434a54;
$form_gray_dark: #DDDDDD;
$alert_color: #F35500;
